# Ignore node_modules directory
node_modules/

# Ignore package-lock.json file
package-lock.json

# Ignore any log files
*.log

# Ignore compiled JavaScript files (if any)
*.js

# Ignore compiled CSS files (if any)
*.css
